#main-content-marc {
	background: white;
	width: 90%;
	max-width: 1600px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	padding: 0em 0em 0em 0em;
}

	#main-content-marc header,
	#main-content-marc .content {
		padding: 1em;
	}
img.pequeña{
  width: 20px; height: 20px;
}
.nivel
 {
 font: normal 24px/150% Arial, Helvetica, sans-serif;
 background: #fff;
 overflow: hidden;
 border: 1px solid #006699;

 font-weight: 300;
 padding: 0em 0em 0em 0em;
 }
 .semimarcado
 {  font-weight: 600;
    color: blue;
     padding: 1em 1em 1em 1em;
      font-size:1.7em;
 }

 .marcado
 {   font-weight: 600;
   color: red;
   padding: 1em 1em 1em 1em;
   font-size:1.7em;
 }
 .total
 { font-weight: 600;
   color: blue;
   margin-left: 8em;
   font-size:2.1em;
     }
 .nombre
 {    font: normal 24px/100% Arial, Helvetica, sans-serif;
      font-weight: 600;
 }
 .columna
    {font-weight: 600;
     font-size:0.8em;
      padding: 0.5em 0.5em 0.5em 0.5em;
     }
 
 .puntuacion
 {
 font: normal 34px/150% Arial, Helvetica, sans-serif;
 background: #fff;
 overflow: hidden;
 border: 2px solid #006699;
 padding: 1.5em 0em 2em 2em;
 }


 .datagrid table
{
border-collapse: collapse;
text-align: left;
width: 100%;
}
 .datagrid
 {
 font: normal 1em/150% Arial, Helvetica, sans-serif;
 background: #fff;
 overflow: hidden;
 border: 3px solid #006699;
 padding: 0em;
 }
 .datagrid table td, .datagrid table th
 {
 padding: 0em;
 }
 .datagrid table thead th
 {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
 background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',
 endColorstr='#00557F');
 background-color:#006699;
 color:#ffffff;
 font-size: 1.5em;
 font-weight: bold;
 border-left: 1px solid #0070A8;
 }
 

 .datagrid table tbody .alt td
 { background: #E1EEF4; color: #00496B; }
 .datagrid table tbody .marcado  td
 {   font-weight: 600;
   color: red;
 }
 .datagrid table thead th:first-child
 { border: none; }
 .datagrid table tbody tr
 {height:4em;
 }
 .datagrid table tbody td
 { color: #00496B;
 border-left: 1px solid #E1EEF4;
 font-size: 2.4em;
font-weight: 900;
 }

 .datagrid table tbody .alt td
 { background: #E1EEF4; color: red; }



 .datagrid table tbody td:first-child
 { border-left: none; }
 .datagrid table tbody tr:last-child td
 { border-bottom: none; }



